.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.nuxt/App.js
.nuxt/client.js
.nuxt/components/index.js
.nuxt/components/nuxt-child.js
.nuxt/components/nuxt-error.vue
.nuxt/components/nuxt-link.client.js
.nuxt/components/nuxt-link.server.js
.nuxt/components/nuxt-loading.vue
.nuxt/components/nuxt.js
.nuxt/components/plugin.js
.nuxt/dist/client/098d5ec.js
.nuxt/dist/client/20babbd.js
.nuxt/dist/client/35ad57d.js
.nuxt/dist/client/51201c2.js
.nuxt/dist/client/5e13875.js
.nuxt/dist/client/6a68f6d.js
.nuxt/dist/client/9cf750b.js
.nuxt/dist/client/b7063b6.js
.nuxt/dist/client/bb64b77.js
.nuxt/dist/client/c2a7e2a.js
.nuxt/dist/client/e9ba6e3.js
.nuxt/dist/client/fonts/HelveticaN.6dc9cc6.ttf
.nuxt/dist/client/img/benjamin.0ff33d9.jpg
.nuxt/dist/client/img/communication.fa47c2d.png
.nuxt/dist/client/img/dev.145de85.png
.nuxt/dist/client/img/dev_white.01d3e3b.png
.nuxt/dist/client/img/graphisme.ef9fcc6.png
.nuxt/dist/client/img/header.c3524e6.png
.nuxt/dist/client/img/instagram.6c9c174.png
.nuxt/dist/client/img/linkedin.71c4429.png
.nuxt/dist/client/img/logo.a212e3b.png
.nuxt/dist/client/img/logo_white.3417fa5.png
.nuxt/dist/client/img/mouse.60af547.png
.nuxt/dist/client/img/process_desktop.ec63654.png
.nuxt/dist/client/img/process_mobile.e3ed784.png
.nuxt/dist/client/img/share.64dabce.png
.nuxt/dist/client/img/tristan.fb3bdac.jpg
.nuxt/dist/client/img/twitter.5aeba9c.png
.nuxt/dist/client/LICENSES
.nuxt/dist/server/client.manifest.json
.nuxt/dist/server/index.spa.html
.nuxt/dist/server/index.ssr.html
.nuxt/dist/server/pages/a-propos.js
.nuxt/dist/server/pages/a-propos.js.map
.nuxt/dist/server/pages/Article.js
.nuxt/dist/server/pages/Article.js.map
.nuxt/dist/server/pages/Blog.js
.nuxt/dist/server/pages/Blog.js.map
.nuxt/dist/server/pages/blog/_slug.js
.nuxt/dist/server/pages/blog/_slug.js.map
.nuxt/dist/server/pages/Contact.js
.nuxt/dist/server/pages/Contact.js.map
.nuxt/dist/server/pages/index.js
.nuxt/dist/server/pages/index.js.map
.nuxt/dist/server/pages/rgpd.js
.nuxt/dist/server/pages/rgpd.js.map
.nuxt/dist/server/pages/service/_service.js
.nuxt/dist/server/pages/service/_service.js.map
.nuxt/dist/server/server.js
.nuxt/dist/server/server.js.map
.nuxt/dist/server/server.manifest.json
.nuxt/empty.js
.nuxt/index.js
.nuxt/jsonp.js
.nuxt/loading.html
.nuxt/middleware.js
.nuxt/mixins/fetch.client.js
.nuxt/mixins/fetch.server.js
.nuxt/router.js
.nuxt/router.scrollBehavior.js
.nuxt/routes.json
.nuxt/server.js
.nuxt/utils.js
.nuxt/vetur/tags.json
.nuxt/views/app.template.html
.nuxt/views/error.html
